@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: DM Sans;
}

body{
    background-image: linear-gradient(180deg,rgb(78, 78, 78),black);
}

.main{
    display: flex;
}

.sidenav{
    color: white;
    background-color: black;
    height: 40em;
    width: 250px;
    top: 0; /*to stay at the top*/
    left: 0;
    z-index: 1; /* To stay on the top */
}

.logo img {
    margin: 30px 30px;
    width: 60%;
    height: 60%;
}

.end{
    justify-self: end;
}

.nav1 img ,.nav2 img ,.nav4 img {
    padding: 15px 0px 0px 30px;
    width:20px;
    height:20px;
}

#Playlist {
    margin-left: 30px;
    padding: 55px 0 0 0;
}

.sidenav a{
    padding: 10px 10px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: inline;
}

#like ,#Playlist{
    position: relative;
}

#addsymbol{
    position: absolute;
    color: black;
    top: 264px;
    left: 22px;
    font-size: 30px;
}

#heart{
    width: 10px;
    height: 10px;
    position: absolute;
    top: 315px;
    left:6px;
}

.nav3 a{
    margin-left: 30px;
    padding-top: 30px;
}

.nav4{
    padding-top: 55px;
}


.m1{
    display: flex;
    gap: 2%;
    margin-left: 30px;
}

.m1 div img{
    width: 5em;
    height: 5em;
}

.m1 div{
    border: 2px solid  rgb(130, 128, 128);
    width: 15em;
    height:5em;
    background-color: rgb(130, 128, 128);
    border-radius: 4px;
}

.pic{
    display: flex;
    justify-content: space-between;
    gap: 2%;
    margin-left: 2%;
}
#run{
    width: 200px;
    height: 200px;
    border-radius: 10%;
}
#med{
    width: 200px;
    height: 200px;
    border-radius: 10%;
}
#word{
    width: 200px;
    height: 200px;
    border-radius: 10%;
}
#alexa{
    width: 200px;
    height: 200px;
    border-radius: 10%;
}
#story{
    width: 200px;
    height: 200px;
    border-radius: 10%;
}
#daily{
    width: 200px;
    height: 200px;
    border-radius: 10%;
}
.pic div {
    border: 2px solid rgb(56, 56, 56);
    background-color: rgb(56, 56, 56);
    padding: 2%;
    
}

.con2 > p{
    margin-top: 100px;
    margin-left: 30px;
    margin-bottom: 20px;
    color: white;
    font-size: 40px;
}

.sub2content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 100px;
    margin-left: 30px;
    margin-bottom: 20px;
    color: white;
    font-size: 25px;
}

.m1 div {
    display: flex;
    text-align: center;
    align-items: center;
    color: white;
}

.m1 div p{
    margin: 10px;
}

@media only screen and (max-width: 744px){
    body{
        overflow: hidden;
    }
    .sidenav{
        color: white;
        background-color: black;
        height: 50em;
        width: 150px;
        top: 0;
        left: 0;
        z-index: 1;
    }
    
    .logo img {
        margin: 10px 10px;
        width: 60%;
        height: 60%;
    }
    
    .end{
        justify-self: end;
    }
    
    .nav1 img ,.nav2 img ,.nav4 img {
        padding: 5px 0px 0px 6px;
        width:20px;
        height:20px;
    }
    
    #Playlist {
        margin-left: 6px;
        padding: 55px 0 0 0;
    }
    
    .sidenav a{
        padding: 5px 5px;
        text-decoration: none;
        font-size: 9px;
        color: white;
        display: inline;
    }
    
    #like ,#Playlist{
        position: relative;
    }
    
    #addsymbol{
        position: absolute;
        color: black;
        top: 155px;
        left: 3px;
        font-size: 10px;
    }
    
    #heart{
        width: 6px;
        height: 6px;
        position: absolute;
        top: 178px;
        left:2px;
    }
    
    .nav3 a{
        margin-left: 10px;
        padding-top: 10px;
    }
    
    .nav4{
        padding-top: 55px;
    }
    
    
    .m1{
        display: flex;
        gap: 1%;
        margin-left: 10px;
    }
    
    .m1 div img{
        width: 1.5em;
        height: 1.5em;
    }
    
    .m1 div{
        border: 1px solid  rgb(130, 128, 128);
        width: 4em;
        height:2em;
        background-color: rgb(130, 128, 128);
        border-radius: 4px;
    }
    .m1 p{
        font-size: 8px;
    }
    .pic{
        display: flex;
        justify-content: space-between;
        gap: 1%;
        margin-left: 1%;
    }
    #run{
        width: 100px;
        height: 100px;
        border-radius: 10%;
    }
    #med{
        width: 100px;
        height: 100px;
        border-radius: 10%;
    }
    #word{
        width: 100px;
        height: 100px;
        border-radius: 10%;
    }
    #alexa{
        width: 100px;
        height: 100px;
        border-radius: 10%;
    }
    #story{
        width: 100px;
        height: 100px;
        border-radius: 10%;
    }
    #daily{
        width: 100px;
        height: 100px;
        border-radius: 10%;
    }
    .pic div {
        border: 2px solid rgb(56, 56, 56);
        background-color: rgb(56, 56, 56);
        padding: 1%;
        
    }
    
    .con2 > p{
        margin-top: 100px;
        margin-left: 30px;
        margin-bottom: 20px;
        color: white;
        font-size: 30px;
    }
    
    .sub2content{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 100px;
        margin-left: 30px;
        margin-bottom: 20px;
        color: white;
        font-size: 15px;
    }
    
    .m1 div {
        display: flex;
        text-align: center;
        align-items: center;
        color: white;
    }
    
    .m1 div p{
        margin: 10px;
    }
}